@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full hover:bg-slate-400 active:bg-slate-300
}


.navbar-fixed{
  @apply fixed z-[99999] bg-slate-200 bg-opacity-50 transition duration-300;
  backdrop-filter: blur(7px);
  box-shadow:inset 0 -1px 8px 0 rgba(0, 0, 0, 0.3)
}

.hamburger-line{
  @apply w-[30px] h-[3px] my-2 block bg-dark rounded-full transition duration-300 ease-in-out
}
.hamburger-active > span:nth-child(1){
  @apply rotate-45
}

.hamburger-active > span:nth-child(2){
  @apply scale-0 opacity-0
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45
}

.heart-animation{
  animation-name: heart-animation;
  animation-duration: 400ms;
  color:red;
}

.send-animation{
  animation-name: send-animation;
  animation-duration: 250ms;
  animation-timing-function: linear;
}

@keyframes heart-animation {
  50%{
    text-shadow: -5px -10px;
  }
  75%{
    text-shadow:0 -15px rgba(255, 0, 0, 0.5);
  }
  100%{
    text-shadow: 5px -20px rgba(255,0,0,0.1);
  }
}

@keyframes send-animation {
  25%{
    transform: rotate(22.5deg);
  }
  75%{
    transform: rotate(-22.5deg);
  }
  100%{
    transform: rotate(0);
  }
}